# Variáveis de ambiente
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Ambientes virtuais
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log